# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend specific
playlist-frontend/node_modules
playlist-frontend/.DS_Store
playlist-frontend/dist
playlist-frontend/dist-ssr
playlist-frontend/coverage
playlist-frontend/*.local

playlist-frontend/cypress/videos/
playlist-frontend/cypress/screenshots/

# Backend specific
# Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.py[cod]
*$py.class
__pycache__/

playlist_backend/media/
playlist_backend/db.sqlite3
playlist_backend/celerybeat-schedule.db

# Virtual environment
playlist_backend/myenv/
myenv/
venv/
ENV/

# Environment variables
playlist_backend/.env
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# General
.DS_Store




.codegpt